._rdr_background
{
	width: 100%;
	height: 100%;
	background-image: url('img/background.png');
}

._rdr_overlay
{
	width: 100%;
	height: 100%;
	background-image: url('img/overlay.png');
	
	-webkit-animation: rotate 2.0s 16 linear infinite;	
}

._rdr_mask
{
	width: 100%;
	height: 100%;
	background-image: url('img/mask.png');
}

._rdr_dot
{
	margin-top: 10px;
	margin-left: 80px;
	position: absolute;
	width: 45px;
	height: 46px;
	background-image: url('img/dot.png');
	

}

@-webkit-keyframes rotate 
{
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}

